@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Valty';
  src: url('./assets/fonts/Valty DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}